@page 
@model BBSWebApplication.Areas.Identity.Pages.mymainitems.IndexModel
@{
    ViewData["title"] = "صفحة الترحيب بالطلاب";
}
@* محتوى الصفحة في _Viewtopcentertext *@
<body class="col-xs">
    <partial name="_Viewfooterahlan" />
    <partial name="_Viewnavbarfooter" />
    <partial name="_Viewtopcentertext" />
    <partial name="_Viewchatbotahlan" />
    @* <a href="/Identity/mymainitems/Instructionguidestudents" class="main-btn"> الدليل الإرشادي </a> *@
    @* <img class="img-fluid visible-md-block" src="/images/oig4.jfif" alt="الوسطاء التجاريون"> *@

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

