@page
@model BBSWebApplication.Areas.Identity.Pages.Exams.posttestModel
@{
    ViewData["title"] = "اختبار المواقف (البعدي(";
}
<body class="col-xs">
    <partial name="_Viewfooterposttest" />
    <partial name="_Viewnavbarfooter" />
    <partial name="_Viewposttest" />
    @* <partial name="_Viewchatbotelsemsar7" /> *@
    @* <a href="/Identity/mymainitems/Instructionguidestudents" class="main-btn"> الدليل الإرشادي </a> *@
    @* <img class="img-fluid visible-md-block" src="/images/oig4.jfif" alt="الوسطاء التجاريون"> *@

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>
